/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Serif", serif;
  font-size: 16px;
  line-height: normal;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 1199px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1023px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 539px) {
  .container {
    min-width: 320px;
  }
}
.container--lg {
  max-width: 1790px;
}
.container--fluid {
  max-width: unset;
  width: 100%;
}

.none {
  display: none !important;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.no-scroll {
  overflow-y: hidden;
}

.text-muted {
  color: #B4B4B4;
}

.svg-path-left,
.svg-path-right {
  width: 6px;
  height: 20px;
  stroke: currentColor;
}

.svg-facebook {
  width: 11px;
}

.svg-pinterest {
  width: 15px;
}

.svg-vimeo {
  width: 20px;
}

.svg-dribbble {
  width: 20px;
}

.svg-twitter {
  width: 20px;
}

.svg-behance {
  width: 20px;
}

.svg-instagram {
  width: 20px;
}

.svg-youtube {
  width: 16px;
}

.svg-google {
  width: 22px;
}

.svg-facebook,
.svg-pinterest,
.svg-vimeo,
.svg-dribbble,
.svg-twitter,
.svg-behance,
.svg-instagram,
.svg-youtube,
.svg-google {
  height: 20px;
  fill: #5A5A5A;
  transition: fill 0.3s ease-in;
}

.svg-arrow-top {
  width: 18px;
  height: 20px;
  fill: #c9a96e;
}

.header {
  padding: 34px 0;
}
@media (max-width: 1023px) {
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.header__row {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-left: auto;
}

.logo {
  position: relative;
  z-index: 2;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.logo::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 6px;
  background-color: rgba(201, 169, 110, 0.35);
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1023px) {
  .nav__list {
    display: none;
  }
}
.nav__list--footer {
  display: flex;
}
@media (max-width: 767px) {
  .nav__list--footer {
    gap: 15px;
  }
}

.nav__link {
  position: relative;
  font-size: 14px;
  text-decoration: none;
  color: #171717;
  transition: color 0.4s ease-in;
}
.nav__link:hover {
  color: #c9a96e;
}
.nav__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #c9a96e;
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.4s ease-in;
}
.nav__link:hover::before {
  transform: scale(1);
  transform-origin: left;
}
.nav__link--footer {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  color: #666666;
}
.nav__link--footer:hover {
  color: #666666;
}
.nav__link--footer::before {
  display: none;
}

.nav__btn {
  width: 44px;
  height: 44px;
  padding: 17px 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  display: none;
}
.nav__btn span {
  display: inline-block;
  width: 26px;
  border: 1px solid #c9a96e;
  border-radius: 3px;
}
@media (max-width: 1023px) {
  .nav__btn {
    display: flex;
  }
}

.mobile-nav {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in;
}
.mobile-nav--open {
  opacity: 1;
  pointer-events: all;
}

.mobile-nav__header {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
}

.mobile-nav__btn {
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.08);
}
.mobile-nav__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background-color: #c9a96e;
  transform: translate(-50%, -50%) rotate(40deg);
}
.mobile-nav__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background-color: #c9a96e;
  transform: translate(-50%, -50%) rotate(140deg);
}

.mobile-nav__body {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.mobile-nav__list {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.mobile-nav__item {
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #c9a96e;
}
.mobile-nav__item a {
  text-decoration: none;
  color: #171717;
}

.promo {
  position: relative;
  max-height: 700px;
  background-color: #8d8d8d;
  background-image: url("./../img/promo/promo-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}
.promo::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0));
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .promo {
    background-image: url("./../img/promo/promo-bg@2x.jpg");
  }
}

.promo__row {
  height: 700px;
  padding-bottom: 59px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 1023px) {
  .promo__row {
    height: 500px;
  }
}
@media (max-width: 767px) {
  .promo__row {
    height: 300px;
    padding-bottom: 30px;
  }
}

.promo__content {
  position: relative;
  z-index: 2;
  margin-top: auto;
  max-width: 560px;
}

.promo__subtitle {
  margin-bottom: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.promo__title {
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 1.25;
}
@media (max-width: 767px) {
  .promo__title {
    font-size: 35px;
  }
}
@media (max-width: 539px) {
  .promo__title {
    font-size: 20px;
  }
}

.info {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  display: flex;
  gap: 10px;
}
.info--article {
  font-size: 12px;
  color: #666;
}

.blog {
  padding: 60px 0 80px;
}
@media (max-width: 1023px) {
  .blog {
    padding-bottom: 60px;
  }
}

.blog__row {
  display: flex;
  gap: 130px;
}
@media (max-width: 1199px) {
  .blog__row {
    flex-direction: column;
    gap: 60px;
  }
}

.blog__content {
  max-width: 770px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.blog__articles {
  display: flex;
  flex-wrap: wrap;
  gap: 33px 30px;
}
@media (max-width: 767px) {
  .blog__articles {
    justify-content: center;
  }
}

.blog__pagination {
  align-self: center;
}

.article__card {
  max-width: 370px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in;
}
.article__card:hover {
  transform: translateY(-4px);
  box-shadow: 0 2px 6px 0 rgba(151, 151, 151, 0.3);
}
@media (max-width: 1023px) {
  .article__card {
    max-width: 350px;
  }
}
@media (max-width: 767px) {
  .article__card {
    max-width: 290px;
  }
}
.article__card--wide {
  width: 100%;
  max-width: unset;
  margin-top: 30px;
}
@media (max-width: 1023px) {
  .article__card--wide {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .article__card--wide {
    width: 290px;
  }
}
.article__card--small {
  max-width: 270px;
}
@media (max-width: 1199px) {
  .article__card--small {
    max-width: 300px;
  }
}

.article__img {
  width: 370px;
  height: 280px;
  max-height: 280px;
  background-color: #8d8d8d;
}
.article__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 37/28;
}
@media (max-width: 1023px) {
  .article__img {
    width: 350px;
  }
}
@media (max-width: 767px) {
  .article__img {
    width: 290px;
  }
}
.article__img--wide {
  width: 100%;
}
@media (max-width: 767px) {
  .article__img--wide {
    width: 290px;
  }
}
.article__img--small {
  width: 270px;
  height: 160px;
}
@media (max-width: 1199px) {
  .article__img--small {
    width: 300px;
  }
}

.article__body {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article__body--wide {
  padding: 25px 31px;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .article__body--wide {
    padding: 15px 0;
    align-items: center;
  }
}
.article__body--small {
  padding: 15px 10px 14px;
}

.article__tag {
  margin-bottom: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #c9a96e;
  transition: color 0.3s ease-in;
}
.article__tag:hover {
  color: #171717;
}

.article__title {
  margin-bottom: 10px;
  max-width: 285px;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
}
.article__title a {
  color: #171717;
  text-decoration: none;
  transition: color 0.3s ease-in;
}
.article__title a:hover {
  color: #898989;
}
.article__title--wide {
  max-width: unset;
  text-align: left;
}
@media (max-width: 1023px) {
  .article__title--wide {
    max-width: 285px;
  }
}
@media (max-width: 767px) {
  .article__title--wide {
    text-align: center;
  }
}
.article__title--small {
  font-size: 18px;
  line-height: 1.44;
}

.article__body .text-muted {
  color: #B1B1B1;
}

.article__descr {
  margin-top: 14px;
  max-width: 614px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  color: #666666;
}
@media (max-width: 767px) {
  .article__descr {
    display: none;
  }
}

.sidebar {
  max-width: 270px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
@media (max-width: 1199px) {
  .sidebar {
    max-width: unset;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
  }
}
@media (max-width: 1023px) {
  .sidebar {
    justify-content: center;
    gap: 15px;
  }
}

.sidebar__item {
  order: 3;
}
@media (max-width: 1199px) {
  .sidebar__item {
    width: 300px;
  }
}
.sidebar__item .article__card--small + .article__card--small {
  margin-top: 30px;
}
@media (max-width: 1199px) {
  .sidebar__item .article__card--small + .article__card--small {
    margin-top: 0;
  }
}
@media (max-width: 1199px) {
  .sidebar__item:first-child {
    display: none;
  }
}
@media (max-width: 1023px) {
  .sidebar__item:first-child {
    display: block;
  }
}
@media (max-width: 1199px) {
  .sidebar__item:nth-child(2) {
    width: 100%;
    order: 2;
  }
}

.sidebar__caption {
  margin-bottom: 20px;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #E5E5E5;
}
.sidebar__caption--nopadding {
  padding: 0;
}

.sidebar__btn {
  width: 100%;
  padding: 15px 0;
  font-weight: 700;
  pointer-events: none;
}
@media (max-width: 1023px) {
  .sidebar__btn {
    pointer-events: all;
  }
  .sidebar__btn:hover {
    background-color: #e5e5e5;
    color: #fff;
  }
}

@media (max-width: 1199px) {
  .sidebar__row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media (max-width: 1023px) {
  .sidebar__row {
    justify-content: center;
  }
}

.pagination {
  height: 50px;
  padding: 18px 24px;
  border: 1px solid #A2A2A2;
}
@media (max-width: 767px) {
  .pagination {
    padding: 15px 15px;
  }
}

.pagination__list {
  display: flex;
  align-items: center;
}

.pagination__item {
  margin-right: 41px;
  font-family: "HK Grotesk", sans-serif;
  font-size: 16px;
  line-height: 1;
}
@media (max-width: 767px) {
  .pagination__item {
    font-size: 14px;
    margin-right: 20px;
  }
}
.pagination__item:first-child {
  margin-right: 30px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.pagination__item:first-child a {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 767px) {
  .pagination__item:first-child {
    font-size: 12px;
  }
}
@media (max-width: 539px) {
  .pagination__item:first-child {
    font-size: 10px;
  }
}
.pagination__item:last-child {
  margin-right: 0;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.pagination__item:last-child a {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 767px) {
  .pagination__item:last-child {
    font-size: 12px;
  }
}
@media (max-width: 539px) {
  .pagination__item:last-child {
    font-size: 10px;
  }
}
.pagination__item:nth-last-child(2) {
  margin-right: 30px;
}
.pagination__item:hover .pagination__link {
  color: #A2A2A2;
}
@media (max-width: 767px) {
  .pagination__item:nth-child(4) {
    display: none;
  }
}

.pagination__link {
  text-decoration: none;
  color: #171717;
  transition: color 0.3s ease-in;
}
.pagination__link--active {
  color: #c9a96e;
}
.pagination__link--active:hover {
  color: #c9a96e;
}

.about__card {
  width: 270px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in;
}
.about__card:hover {
  transform: translateY(-4px);
  box-shadow: 0 2px 6px 0 rgba(151, 151, 151, 0.3);
}
@media (max-width: 1199px) {
  .about__card {
    width: 300px;
  }
}
@media (max-width: 1023px) {
  .about__card {
    overflow: hidden;
    max-height: 0;
  }
}

.about__img {
  height: 180px;
  background-color: #8d8d8d;
}
.about__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 27/18;
}

.about__content {
  padding: 20px 20px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__title {
  margin-bottom: 4px;
  color: #171717;
}

.about__subtitle {
  margin-bottom: 14px;
  font-style: italic;
  font-size: 14px;
  color: #b1b1b1;
}

.about__descr {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #666;
}

.about__link {
  padding: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid #E5E5E5;
}
.about__link a {
  color: #c9a96e;
  text-decoration: none;
  transition: color 0.3s ease-in;
}
.about__link a:hover {
  color: #171717;
}

.categories__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  transition: all 0.3s ease-in;
}
@media (max-width: 1023px) {
  .categories__list {
    overflow: hidden;
    max-height: 0;
  }
}

.categories__item {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #666666;
  border-bottom: 1px solid #E5E5E5;
}

.categories__item:hover a,
.categories__item:hover .categories__num {
  color: #c9a96e;
}

.categories__link {
  color: #666666;
  text-decoration: none;
  transition: color 0.3s ease-in;
}

.categories__num {
  transition: color 0.3s ease-in;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 3px;
       column-gap: 3px;
  row-gap: 3px;
  transition: all 0.3s ease-in;
}
@media (max-width: 1199px) {
  .social__list {
    justify-content: center;
  }
}
@media (max-width: 1023px) {
  .social__list {
    overflow: hidden;
    max-height: 0;
  }
}
.social__list--footer {
  gap: 20px;
  max-height: unset;
}
@media (max-width: 539px) {
  .social__list--footer {
    gap: 10px;
  }
}

.social__item {
  max-width: 88px;
  padding: 17px 32px 13px;
  background-color: #f8f9fa;
}
.social__item:hover svg, .social__item:hover .social__link {
  fill: #c9a96e;
  color: #c9a96e;
}
.social__item--footer {
  max-width: unset;
  width: 34px;
  height: 34px;
  padding: 0;
  border: 1px solid #E5E5E5;
  background-color: transparent;
  border-radius: 50px;
  position: relative;
}
.social__item--footer:hover, .social__item--footer:hover svg {
  fill: #fff;
  background-color: #c9a96e;
  border-color: #c9a96e;
}
.social__item--footer svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: #999999;
  transition: color 0.3s ease-in;
}

.tags__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transition: all 0.3s ease-in;
}
@media (max-width: 1023px) {
  .tags__list {
    overflow: hidden;
    max-height: 0;
  }
}

.tags__item {
  padding: 6px 15px;
  font-size: 14px;
  background-color: #f8f9fa;
  transition: transform 0.3s ease-in;
}
.tags__item:hover {
  transform: translateY(-2px);
}
.tags__item:hover .tags__link {
  color: #c9a96e;
}

.tags__link {
  color: #666666;
  text-decoration: none;
  transition: color 0.3s ease-in;
}

.follow__title {
  text-align: center;
  margin-bottom: 39px;
  font-size: 24px;
}
@media (max-width: 767px) {
  .follow__title {
    font-size: 20px;
  }
}

.follow__img {
  display: inline-block;
  width: 296px;
  height: 296px;
}
.follow__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 29.6/29.6;
}
@media (max-width: 767px) {
  .follow__img {
    width: 250px;
  }
}

.footer {
  padding: 100px 0 30px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  margin-bottom: 60px;
}

.footer__nav {
  margin-bottom: 29px;
}

.footer__social {
  margin-bottom: 40px;
}

.foooter__copy {
  align-self: stretch;
  padding-top: 30px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  color: #666666;
  text-align: center;
  border-top: 1px solid #979797;
}

.top-link {
  position: fixed;
  z-index: 3;
  right: 40px;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #c9a96e;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in;
}
.top-link--visible {
  opacity: 1;
  pointer-events: all;
}
@media (max-width: 1023px) {
  .top-link {
    width: 45px;
    height: 45px;
    right: 15px;
    bottom: 15px;
    border-radius: 10px;
  }
}
@media (max-width: 767px) {
  .top-link {
    width: 40px;
    height: 40px;
    border-radius: 8px;
  }
}/*# sourceMappingURL=main.css.map */