.blog {
    padding: 60px 0 80px;

    @include tablet {
        padding-bottom: 60px;
    }
}

.blog__row {
    display: flex;
    gap: 130px;

    @include notebook {
        flex-direction: column;
        gap: 60px;
    }

}

.blog__content {
    max-width: 770px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.blog__articles {
    display: flex;
    flex-wrap: wrap;
    gap: 33px 30px;

    @include mobile {
        justify-content: center;
    }
}

.blog__pagination {
    align-self: center;
}