.blog {
    padding: 60px 0 80px;
}

.blog__row {
    display: flex;
    gap: 130px;
}

.blog__content {
    display: flex;
    flex-wrap: wrap;
    gap: 33px 30px;
}



.blog__sidebar {
    width: 270px;
}