.header {
    padding: 34px 0;

    @include tablet {
       padding-top: 15px;
       padding-bottom: 15px;
    }
}

.header__row {
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: auto;
}
