.article__card {
    max-width: 370px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);

    transition: transform 0.3s ease-in;
    

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 2px 6px 0 rgba(151, 151, 151, 0.3);
    }

    &--wide {
        width: 100%;
        max-width: unset;
        margin-top: 30px;
    }
}

.article__img {
    width: 370px;
    height: 280px;
    max-height: 280px;
    background-color: #8d8d8d;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 37 / 28;
    }

    &--wide {
        width: 100%;
    }
}

.article__body {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--wide {
        padding: 25px 31px;
        align-items: flex-start;
    }
}

.article__tag {
    margin-bottom: 4px;
    font-family: "PT Sans", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #c9a96e;
}

.article__title {
    margin-bottom: 10px;
    max-width: 285px;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;

    a {
        color: #171717;
        text-decoration: none;
        transition: color 0.3s ease-in;
        

        &:hover {
            color: #898989;
        }
    }

    &--wide {
        max-width: unset;
        text-align: left;
    }
}

.article__body .text-muted {
    color: #B1B1B1;
}

.article__descr {
    margin-top: 14px;
    max-width: 614px;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 1.71;

    color: #666666;
}