.nav {}

.nav__list {
    display: flex;
    align-items: center;
    gap: 30px;

    @include tablet {
        display: none;
    }

    &--footer  {
        display: flex;

        @include mobile {
            gap: 15px;
        }
    }
}

.nav__item {}

.nav__link {
    position: relative;
    font-size: 14px;
    text-decoration: none;
    color: #171717;
    transition: color .4s ease-in;


    &:hover {
        color: #c9a96e;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #c9a96e;
        transform: scale(0);
        transform-origin: right;

        transition: transform .4s ease-in;
    }

    &:hover::before {
        transform: scale(1);
        transform-origin: left;
    }

    &--footer {
        font-family: "PT Sans", sans-serif;
        font-size: 14px;
        color: #666666;

        &:hover {
            color: #666666;
        }

        &::before {
            display: none;
        }
    }
}

.nav__btn {
    width: 44px;
    height: 44px;
    padding: 17px 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    display: none;

    span {
        display: inline-block;
        width: 26px;
        border: 1px solid #c9a96e;
        border-radius: 3px;
    }

    @include tablet {
        display: flex;
    }
}