.pagination {
    height: 50px;
    padding: 18px 24px;
    border: 1px solid #A2A2A2;

    @include mobile {
        padding: 15px 15px;
    }
}

.pagination__list {
    display: flex;
    align-items: center;
}

.pagination__item {
    margin-right: 41px;
    font-family: "HK Grotesk", sans-serif;
    font-size: 16px;
    line-height: 1;

    @include mobile {
        font-size: 14px;
        margin-right: 20px;
    }

    &:first-child {
        margin-right: 30px;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;

        a {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        @include mobile {
            font-size: 12px;
        }

        @include mobileXS {
            font-size: 10px;
        }
    }

    &:last-child {
        margin-right: 0;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;

        a {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        @include mobile {
            font-size: 12px;
        }

        @include mobileXS {
            font-size: 10px;
        }
    }

    &:nth-last-child(2) {
        margin-right: 30px;
    }

    &:hover .pagination__link {
        color: #A2A2A2;
    }

    &:nth-child(4) {
        @include mobile {
            display: none;
        }
    }
}

.pagination__link {
    text-decoration: none;
    color: #171717;

    transition: color 0.3s ease-in;

    &--active {
        color: #c9a96e;

        &:hover {
            color: #c9a96e;
        }
    }
}