.social__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3px;
    row-gap: 3px;
    transition: all 0.3s ease-in;
    

    @include notebook {
        justify-content: center;
    }

    @include tablet {
        overflow: hidden;
        max-height: 0;
    }

    &--footer {
        gap: 20px;
        max-height: unset;

        @include mobileXS {
            gap: 10px;
        }
    }


}

.social__item {
    max-width: 88px;
    padding: 17px 32px 13px;
    background-color: #f8f9fa;

    &:hover svg,
    &:hover .social__link {
        fill: #c9a96e;
        color: #c9a96e;
    }

    &--footer {
        max-width: unset;
        width: 34px;
        height: 34px;
        padding: 0;
        border: 1px solid #E5E5E5;
        background-color: transparent;
        border-radius: 50px;
        position: relative;

        &:hover,
        &:hover svg {
            fill: #fff;
            background-color: #c9a96e;
            border-color: #c9a96e;
        }

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.social__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    font-family: "PT Sans", sans-serif;
    font-size: 12px;
    text-decoration: none;

    color: #999999;
    transition: color 0.3s ease-in;
}