html {
    scroll-behavior: smooth;
}
// fonts  
// font-family: "PT Sans", sans-serif;
// font-family: "HK Grotesk", sans-serif;
body {
    font-family: "PT Serif", serif;
    font-size: 16px;
    line-height: normal;
    margin-bottom: 600px;
}