.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

    
    @include notebook {
        max-width: 1024px;
    }
    
    @include tablet {
        max-width: 768px;
    }
    
    @include mobile {
        max-width: 540px;
    }
    
    @include mobileXS {
        min-width: 320px;
    }
    
    &--lg {
        max-width: 1790px;
    }

    &--fluid {
        max-width: unset;
        width: 100%;

        @include desktopLG {
            max-width: 1600px;
            padding: 0 15px;
            margin: 0 auto;
        }
    }
}
